<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>
    subjectList
    </title>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>수업명</th>
                <th>점수</th>
                <th>교수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject : ${subjects}">
                <td th:text="${subject .id}"></td>
                <td th:text="${subject .name}"></td>
                <td th:text="${subject .score}"></td>
                <td th:text="${subject . professor}"></td>
                <td>
                    <a href="#" th:href="@{/subjects/{id}/edit (id=${subject.id})}" class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div> <!-- /container -->
</body>
</html>